html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  text-align: center;
}
h1{
  font-family:Helvetica, Arial, sans-serif;
}
div.texto{
  margin: 2rem auto;
  width: min(90vw, 800px);
  padding: 1rem;
  background:rgba(255,255,255,.5);
  box-shadow: 0 0 5px rgba(0,0,0,.25);
  border-radius: 10px;
  backdrop-filter: blur(5px)
}

ol{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
  line-height: 2rem;
  border-bottom:1px solid silver;
  display:flex;
  padding:0.2rem 0;

}

li img {
  border-radius: 50% 50%;
  width:2rem;
  height:2rem;
  margin-right:1rem;
}
